
{% extends 'base.html' %}

{% block content %}

<section class="features">

    <div class="card">

        <h3>Students</h3>

        <p>
            View and manage student records.
        </p>

        <a href="{% url 'student_list' %}"
           class="btn">
            Student List
        </a>

    </div>

    <div class="card">

        <h3>Teachers</h3>

        <p>
            View and manage teacher records.
        </p>

        <a href="{% url 'teacher_list' %}"
           class="btn">
            Teacher List
        </a>

    </div>

    <div class="card">

        <h3>Administration</h3>

        <p>
            Open Django Admin Panel.
        </p>

        <a href="/admin/"
           class="btn">
            Open Admin
        </a>

    </div>

</section>
{% endblock %}
